p {
font-size:3rem;
text-align: center;
font-family: fantasy;
color: darkmagenta;
border: .25em solid palevioletred;
padding: .5em;
background-color: aquamarine;
background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpaperset.com%2Fw%2Ffull%2Fa%2Fb%2F2%2F496876.jpg&f=1&nofb=1)
}
h2 {
font-size: 3rem;
text-align: center;
font-family: courier;
color: paleturquoise;
border: .25em solid palegreen;
padding: .5em;
background-color:blueviolet;
background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.wallpapersafari.com%2F79%2F55%2FNy0umY.jpg&f=1&nofb=1)
}
#reading {
width: 300px;
position: absolute;
/* offset properties */
left: 100px;
top: 500px;
}
#piano {
    width: 300px;
    position: absolute;
    /* offset properies*/
    left: 1100px;
    top: 500px;
}
#stars {
    width: 500px;
}
#stars2 {
    width: 500px;
}
#stars3 {
    width: 500px
}
#crystals {
    width: 500px;
    position: absolute;
    /* offset properties*/
    left: 500px;
    top: 400px;
}